<!doctype html>
<html lang="en-US">
  <head>
  <title></title>
    <meta name="viewport" content="width=device-width, initial" charset="UTF-8">
  </head>
  <body>
    <h1>Worksheet Creator</h1>
    <% if session[:error] %>
      <div class="flash error">
        <p><%= session.delete(:error) %></p>
      </div>
    <% end %>
    
    <% if session[:success] %>
      <div class="flash success">
        <p><%= session.delete(:success) %></p>
      </div>
    <% end %>

    <main>
      <%== yield %>
    </main>
  </body>
</html>