<!doctype html>
<html lang="en-US">
  <head>
  <title></title>
    <meta name="viewport" content="width=device-width, initial" charset="UTF-8">
  </head>
  <body>
    <h1>Worksheet Creator</h1>
    <main>
      <%= yield %>
    </main>
  </body>
</html>